// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url("/back.png");
}
.headline{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color : #080808;
}
.inputdiv{
  margin-top: 40px;
  padding: 20px;
  background: #ffffff;
}
.divwrap{
  padding: 20px;
  background: #ffffff;
}
.calendar{
  padding-left: 80px;
}
.info{
  color : grey;
  font-style: italic;
}
.approved{
  color : green;
}
.rejected{
  color : red;
}
.pending{
  color : grey;
}