.container.divwrap
  %table.table.table-hover.text-center
    %thead
      %tr
        %td
          Subject
        %td
          Start Time
        %td
          End Time
        %td
          Days
        %td
          Status
        %td
          Manager Comment
    %tbody
      %tr{'ng-repeat' => 'leave in leaves'}
        %td
          {{leave.subject}}
        %td
          {{leave.start | date : 'dd-M-yyyy'}}
        %td
          {{leave.end | date : 'dd-M-yyyy'}}
        %td
          {{leave.nodays}}
        %td
          %p{'ng-if' => 'leave.status == 1', 'class' => 'approved'}
            Approved
          %p{'ng-if' => 'leave.status == 2', 'class' => 'rejected'}
            Rejected
          %p{'ng-if' => 'leave.status == null', 'class' => 'pending'}
            Pending
        %td
          {{leave.comment}}


