%nav.navbar{:role => 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
      %span.sr-only
        Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse.navbar-default{'id' => 'bs-example-navbar-collapse-1'}
    %ul.nav.navbar-nav
      %li
        %a{'ui-sref' => 'dashboard.home'}
          {{$root.name}}'s Dashboard
      %li
        %a{'ui-sref' => 'dashboard.home'}
          Home
      %li
        %a{'ui-sref' => 'dashboard.status'}
          Status
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{'ui-sref' => 'logout'}
          Logout

.container
  .row{'ui-view' => ''}