.container.divwrap
  .row.text-center
    %p.headline
      Select start and end dates for your leave
    %p.info{'ng-if' => 'showstatus'}
      {{status}}
  .row
    .col-md-6
      .row.text-center
        .col-md-12
          %p
            {{st | date : 'dd-M-yyyy'}}
        %datepicker.calendar{'ng-model' => 'st', 'min-date' => 'today'}
    .col-md-6
      .row.text-center
        .col-md-12
          %p
            {{et | date : 'dd-M-yyyy'}}
        %datepicker.calendar{'ng-model' => 'et', 'min-date' => 'mindate', 'max-date' => 'maxdate'}
  .row.divwrap
    .col-md-8.text-center.col-md-offset-1
      .row
        .col-md-6
          %p.headline
            Number of Days
        .col-md-6
          %input.form-control{'readonly' => 'readonly', 'ng-value' => 'nd'}
      %br
      .row
        .col-md-6
          %p.headline
            Subject
        .col-md-6
          %input.form-control{'ng-model' => 'subject'}
      %br
      .row.text-center
        %button.btn.btn-primary{'ng-click' => 'create()'}
          {{butval}}
        %img.btn{:src => 'load.gif', 'ng-show' => 'loading'}
  .row.info
    .col-md-12
      %p
        You are allowed to have maximum of 15 working day as holiday.
      %p
        Saturday, Sunday and Public Holidays are not counted as part of working day.
      %p
        Time Zone is IST.