.container
  .row
    .col-md-5.inputdiv
      %p.headline
        Dashboard Login
        %form{:role => 'form', :name => 'loginForm', 'ng-submit' => 'loginForm.$valid && login(user)'}
          .row
            .col-md-12.form-group
              %input.form-control{'ng-model' => 'user.username', 'ng-required' => 'true', :placeholder => 'Username'}
          .row
            .col-md-12.form-group
              %input.form-control{'ng-model' => 'user.password', :type => 'password', 'ng-required' => 'true', :placeholder => 'Password'}
          .row.text-center
            %input.btn{'ng-disabled' => '!loginForm.$valid', :type => 'submit', 'ng-value' => 'loginval', 'ng-class' => 'loginclass'}
            %img{'ng-show' => 'loginloading', :src => 'load.gif'}
    .col-md-1

    .col-md-6.inputdiv
      %p.headline
        Register Employee
        %form{:role => 'form', :name => 'signupForm', 'ng-submit' =>'signupForm.$valid && signup(newuser)'}
          .row
            .col-md-12.form-group
              %input.form-control{'ng-model' => 'newuser.name', 'ng-required' => 'true', :placeholder => 'Name'}
          .row
            .col-md-12.form-group
              %input.form-control{'ng-model' => 'newuser.username', 'ng-required' => 'true', :placeholder => 'Username'}
          .row
            .col-md-12.form-group
              %input.form-control{'ng-model' => 'newuser.password', 'ng-required' => 'true', :placeholder => 'Password', :type => 'password'}
          .row.text-center
            %input.btn.btn-primary{'ng-disabled' => '!signupForm.$valid', :type => 'submit', 'ng-value' => 'signupval', 'ng-class' => 'signupclass'}
            %img{'ng-show' => 'signuploading', :src => 'load.gif'}
