%nav.navbar{:role => 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
      %span.sr-only
        Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse.navbar-default{'id' => 'bs-example-navbar-collapse-1'}
    %ul.nav.navbar-nav
      %li
        %a{'ui-sref' => 'manager'}
          {{$root.name}}'s (Manager) Dashboard
      %li
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{'ui-sref' => 'logout'}
          Logout

.container.divwrap
  %table.table.table-hover.text-center
    %thead
      %tr
        %td
          Id
        %td
          Employee Name
        %td
          Subject
        %td
          Start Time
        %td
          End Time
        %td
          Days
        %td
          Status
        %td
          Comment
        %td
          Approve / Reject
    %tbody
      %tr{'ng-repeat' => 'leave in leaves'}
        %td
          {{leave.id}}
        %td
          {{leave.name}}
        %td
          {{leave.subject}}
        %td
          {{leave.start | date}}
        %td
          {{leave.end | date}}
        %td
          {{leave.nodays}}
        %td
          %p{'ng-if' => 'leave.status == 1', 'class' => 'approved'}
            Approved
          %p{'ng-if' => 'leave.status == 2', 'class' => 'rejected'}
            Rejected
          %p{'ng-if' => 'leave.status == null', 'class' => 'pending'}
            Pending
        %td
          {{leave.comment}}
          %input.form-control{'ng-show' => 'leave.status == null', 'ng-model' => 'leave.comment'}
        %td{'ng-if' => 'leave.status == null'}
          .btn.btn-sm.btn-success{'ng-click' => 'update(1, leave)'}
            Approve
          .btn.btn-sm.btn-danger{'ng-click' => 'update(2, leave)'}
            Reject


